body{
    height: 100%;
    overflow: scroll;
}
.image{
    /* width: 150px; */
    width: 100%;
    /* height: 200px; */
    height: 246%;
    size: fill;
}
.text{
    
    
    width: 300px;
    /* width: 50%; */
    height: 200px;
    /* height: 238%; */
    background-color: rgba(255, 255, 255, 1);
    color: black;
}
p{
    background-color: rgba(255, 255, 255, 1);
    font-size: 24px;
    text-align: center;
}
.contents{
    background-color: rgba(255, 255, 255, 1);
    height: 28%;
    width: 450px;
    /* left: 756px; */
    /* top: 249px; */
    /* margin-left: 150px; */
    margin-top: 75px;
    display: flex;
}
.rows{
    display: flex;
    padding-top: 10px;
}
*{
    background-color: black;
}
a{
    text-decoration:  none;
}
.a{
    margin-left: 13%;
}
video{
    display: none;
}
.text:hover{
    background-color: black;
    color: white;
}
p:hover{
    background-color: black;
    color: white;
}