@media (max-width:551px){

    .connect{
        top: 20%;
        color: white;
        align-self: center;
        align-items: center;
        justify-content:center ;
    }
    .fb{
        color: white;
        padding-left: 2%;
    }
    #icons{
        margin-right: -90px;
        padding-right: 45px;
    }
    #medias{
        padding-left: 0%;
    }
    .medias{
        position: fixed;
        padding-left: 0%;
        background-color: rgb(103, 0, 0);
    }
}