@media (max-width:551px){
    body{
        background-color: black;
        
    }
    .p{
        text-decoration: none;
        color: white;
        padding-left: 20%;
        font-size: 200%;
    }
    .images{
        display: flex;
        padding-top: 5%;
        padding-left: 10%;
    }
    #images{
        width: 50%;
        height: 50%;
    }
    h1{
        padding-top: 10%;
        color: white;
        text-align: center;
    }
    .pages{
        display: flex;
    }
    #pages{
        color: white;
        text-align: center;
        font-size: 150%;
        padding-top: 4%;
        padding-left: 15%;
    }
    .pace3{
        height: 20px;
    }
    .img{
        width: 100px;
        height: 100px;
    }
}